# CLASS 01

In [1]:
a = 10
print(a)

10

In [2]:
a = 1
b = 1.55
c = "hi samm"
d = False
print(a,b,c,d)
print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

1 1.55 hi samm False
1
1.55
hi samm
False
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [3]:
a = "10"
b = 10
c = a*b
print(c)

10101010101010101010

In [4]:
a = True
b = False
c= b/a
print(c)

0.0

# CLASS 02

In [5]:
a = input("enter a number") 
b = input("enter another number")
c = a + b
print(c)

enter a number1
enter another number1
11

In [9]:
p = int(input("enter p = "))
t = int(input("enter t= "))
r= float(input("enter r= "))
i = p*t*r/100
print(i)

enter p = 100000
enter t= 1
enter r= 8.2
8199.999999999998

In [21]:
name = input("enter your name")
age = int(input("enter your age"))
address = input("enter your address")
print("Your name is "  + name + "\nyour age is " + str(age) +  " \nyour address is " + address)

enter your namesam
enter your age23
enter your addressswoyambhu
Your name is sam
your age is 23
your address is swoyambhu