In [1]:
 d = { 'a':'apple', 'b':'ball', 'c':'cat' }

In [3]:
print(d['a'])

apple

In [4]:
len(d)

3

In [5]:
for i in d.values():
    print(i)

apple
ball
cat

In [6]:
for i in d.keys():
    print(i)

a
b
c

In [9]:
for i in d.items():
    print(i, end =" ")

('a', 'apple') ('b', 'ball') ('c', 'cat')

In [10]:
d = {}

In [12]:
d['a'] = "appstore"
d

{'a': 'appstore'}

In [17]:
f={}
f['s'] = "appstssore"
f

{'s': 'appstssore'}

In [18]:
d = { 'a':'apple', 'b':'ball', 'c':'cat' }
del d['a']
print(d)

{'b': 'ball', 'c': 'cat'}

In [19]:
d={}

In [20]:
n = int(input("enter the value of n"))
for i in range(n):
    name = input("enter name ")
    u_id = input("enter id ")
    d[u_id] = name
    
print(d)

enter the value of n2
enter name sam
enter id 2050091
enter name yak
enter id 2050014
{'2050091': 'sam', '2050014': 'yak'}

In [23]:
s={}
n = int(input("enter the value of n"))
for i in range(n):
    name = input("enter name ")
    u_id = input("enter id ")
    c_id = input("enter college id")
    s[name] = [u_id, c_id]
    
print(s)

enter the value of n2
enter name sam
enter id 414
enter college id546
enter name y
enter id 45
enter college id456
{'sam': ['414', '546'], 'y': ['45', '456']}

In [27]:
d = {'name':[],
    'ntc_phone':[],
    'ncell_phone':[]}
n = int(input("enter the value "))
for i in range(n):
    name = input("enter name ")
    ntc_phone = int(input("enter ntc "))
    ncell_phone = int(input("enter ncell "))
    d['name'].append(name)
    d['ntc_phone'].append(ntc_phone)
    d['ncell_phone'].append(ncell_phone)
print(d)

enter the value 1
enter name hg
enter ntc 5
enter ncell 4
{'name': ['hg'], 'ntc_phone': [5], 'ncell_phone': [4]}